# Настройки сервиса
PORT=3336
NODE_ENV=development
GLOBAL_PREFIX=/api

# Database setting
DATABASE_URI=mongodb://localhost:27017

# Logger
LOGGER_ENABLED_PINO=false

# Настройки swagger
SWAGGER_API_URL=docs
SWAGGER_ENABLED=true

# Rate Limit для всего приложения
RATE_LIMIT_ENABLED=true
RATE_LIMIT_APP_TTL=3
RATE_LIMIT_APP_LIMIT=3